In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
3 != 3

False

In [4]:
1 < 2 < 3

True

In [6]:
1 < 2 and 2 < 3

True

In [7]:
'h' == 'h' and 2 == 2

True

In [8]:
100 == 1 or 2 == 2

True

In [9]:
1 == 1

True

In [10]:
not(1 == 1)

False

In [11]:
if True:
    print('Its True')

Its True

In [12]:
hungry = True

if hungry:
    print('Feed Me!')

Feed Me!

In [14]:
hungry = True

if hungry:
    print('Feed Me!')
else:
    print('Im not hungry')

Feed Me!

In [20]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

I do not know much.

In [22]:
name = 'Jose'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name?')

What is your name?

In [23]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [25]:
for num in my_list:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [26]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
print(list_sum)

55

In [28]:


for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [29]:
my_list = [(1,2),(3,4),(5,6),(7,8)]

In [30]:
len(my_list)

4

In [37]:
for a,b in my_list:
    print (b)urrent 
# This is Tuple Unpacking

2
4
6
8

In [38]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

In [41]:
for a,b,c in my_list:
    print(a)

1
4
7

In [49]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)
# For Loop Through a Dictionary
# Taking advantage of Tuple Unpacking

1
2
3

In [ ]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

In [ ]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
 #   x = x + 1

In [5]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
#    x = x + 1 (Below is slicker way of writing this expression)
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [6]:
x = [1,2,3]

for item in x:
    # comment
    pass
# Most python coders use "pass" as a place holder to avoid syntax errors

print('End of my script')

End of my script

In [7]:
mystring = 'Sammy'

In [10]:
for letter in mystring:
    if letter == 'a':
        break
      #  continue
    print(letter)

S

In [12]:
x = 0

while x < 5:
 # Basics of Break, continue & pass   
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [13]:
mylist = [1,2,3]

In [16]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [17]:
list(range(0,11,2))
# More Efficient way of generating these numbers

[0, 2, 4, 6, 8, 10]

In [18]:
index_count = 0
# Use the enumerate function to replicate this
for letter in 'abcde':
    print('At index {} the letter is {}' .format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [21]:
# index_count = 0
word = 'abcde'
# we have a index_count that starts at 0 & word string 'abcde'
# for every letter in the word we print the index value location at that word. 
# for letter in word:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    # print(word[index_count])
    index_count += 1

0
a


1
b


2
c


3
d


4
e

In [26]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300,400,500]

In [27]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [28]:
list(zip(mylist1,mylist2))
# This is a slicker way of writing whats above

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [31]:
2 in [1,2,3]

True

In [30]:
'x' in ['x','y','z']

True

In [32]:
'a' in 'a world'

True

In [33]:
'mykey' in {'mykey':345}

True

In [34]:
d = {'mykey':345}

345 in d.values()

True

In [35]:
mylist = [10,20,30,40,100]

In [36]:
min(mylist)

10

In [37]:
max(mylist)

100

In [38]:
from random import shuffle

In [39]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [48]:
shuffle(mylist)
# This is an inplace function (operates inplace)

In [49]:
mylist

[3, 1, 4, 9, 10, 2, 8, 7, 6, 5]

In [50]:
from random import randint

In [52]:
randint(0,100)
# Returns back a random integer

9

In [53]:
mynum = randint(0,100)

In [54]:
mynum

68

In [3]:
input('Enter a number here: ')
# How to accept user input

Enter a number here: 77

'77'

In [4]:
result = input('What is your name? ')

What is your name? Luka Bates

In [5]:
result

'Luka Bates'

In [6]:
type(result)

str

In [12]:
result = int(input('Favurite number: '))
# How to get input function to return/tranform data to another data type

Favurite number: 23

In [8]:
result

'10'

In [9]:
float(result)

10.0

In [10]:
int(result)

10

In [11]:
result

'10'

In [13]:
type(result)

int

In [14]:
mystring = 'Hello'

In [15]:
mylist = []
# Something beginners do!
for letter in mystring:
    mylist.append(letter)

In [16]:
mylist

['H', 'e', 'l', 'l', 'o']

In [17]:
mylist = [letter for letter in mystring]
# Slicker way of writing the above code (.append)

In [18]:
mylist

['H', 'e', 'l', 'l', 'o']

In [19]:
mylist = [x for x in 'Word']
# Explained: It is Element(x) for* Element(x) in* some sort of string/list/etc

In [20]:
mylist

['W', 'o', 'r', 'd']

In [26]:
mylist = [num**2 for num in range(0,11)]
# Flatened out for* loop

In [27]:
mylist
# Square root versions

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]
# Adding an if* statement
# only the even numbers

In [31]:
mylist

[0, 4, 16, 36, 64, 100]

In [33]:
celcius = [0,10,20,34.5]
# with more complex arithmetic expression
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [34]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [35]:
fahrenheit = []
# exact same code as above mentioned
for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [36]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [40]:
# List Comprehension
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]
# One line code of the above mentioned 
# NB Not easily readable (Unreadable)
# The order has totally been reversed
# A month later reading this will be a little harder

In [41]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [44]:
mylist = []
# Example of a Nested* loop
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [45]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [46]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
# List Comprehension version of above mentioned

In [47]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [49]:
st = 'Print only the words that start with s in the sentence'

for word in st.split():
    if word[0] == 's':
        # Formula for Lower/upper case latters
        # if word[0].lower() == 's':         (For Exp coders)
        # Another way: if word[0] == 's' or word[0] == 'S':
        print(word)

start
s
sentence

In [50]:
list(range(0,11,2))
# Another way of writing:
# for num in range(0,11,2):
#       print(num)

[0, 2, 4, 6, 8, 10]

In [51]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [54]:
st = 'Print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word)%2 == 0:
        print(word+" <-- has an even length!")

word <-- has an even length!
in <-- has an even length!
this <-- has an even length!
sentence <-- has an even length!
that <-- has an even length!
an <-- has an even length!
even <-- has an even length!
number <-- has an even length!
of <-- has an even length!

In [55]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
            print('Fizz')
    elif num % 3 == 0:
            print('Buzz')
    else:
        print(num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
35
Fizz
37
38
Fizz
40
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
50
Fizz
52
53
Fizz
55
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
65
Fizz
67
68
Fizz
70
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
80
Fizz
82
83
Fizz
85
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
95
Fizz
97
98
Fizz
100

In [56]:
st = 'Create a list of the first letters of every word in this string'

[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [57]:
mylist = [1,2,3]

In [58]:
mylist.append(4)

In [59]:
mylist

[1, 2, 3, 4]

In [61]:
mylist.pop()

4

In [62]:
mylist

[1, 2, 3]

In [65]:
def say_hello():
    print("Hello")
    print("How")
    print("Are")
    print("You?")

In [66]:
say_hello()

Hello
How
Are
You?

In [67]:
def say_hello(name):
    print(f'Hello {name}')

In [69]:
say_hello('Luka')

Hello Luka

In [3]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [4]:
say_hello('Luka')

Hello Luka

In [5]:
say_hello()

Hello Default

In [6]:
def add_num(num1,num2):
    return num1+num2

In [14]:
result = add_num(10,20)

In [15]:
result

30

In [16]:
def print_result(a,b):
    print(a+b)

In [17]:
def return_result(a,b):
    return a+b

In [18]:
print_result(10,20)

30

In [21]:
result = return_result(10,20)

In [22]:
result

30

In [23]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [24]:
result = myfunc(10,20)

30

In [25]:
result

30

In [26]:
def sum_numbers(num1,num2):
    return num1+num2

In [27]:
sum_numbers(10,20)

30

In [28]:
sum_numbers('10','20')

'1020'

In [29]:
2 % 2

0

In [30]:
3 % 2

1

In [31]:
41 % 40

1

In [32]:
20 % 2

0

In [33]:
20 % 2 ==0

True

In [34]:
def even_check(number):
    result = number % 2 == 0
    return result

In [35]:
even_check(20)

True

In [36]:
even_check(21)

False

In [37]:
# Return true if any number is even inside a list

In [15]:
def check_even_list(num_list):
# Return All The Even Numbers In A List  
    
    # Placeholder Variables
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
            
        else:
            pass
        
    return even_numbers

In [17]:
check_even_list([1,3,5])

[]

In [11]:
check_even_list([2,4,5])

True

In [12]:
check_even_list([2,1,1,1])

True

In [16]:
check_even_list([1,2,3,4,5])

[2, 4]

In [22]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [24]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [25]:
for ticker,price  in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [32]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [33]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Return: Tuple
    return (employee_of_month,current_max)

In [35]:
result = employee_check(work_hours)

In [38]:
name,hours = employee_check(work_hours)

In [40]:
result

('Billy', 4000)

In [42]:
name

'Billy'

In [44]:
hours

4000

In [45]:
item = employee_check(work_hours)

In [47]:
item

('Billy', 4000)

In [1]:
example = [1,2,3,4,5,6,7]

In [2]:
from random import shuffle

In [3]:
shuffle(example)

In [4]:
example

[2, 5, 1, 6, 4, 3, 7]

In [5]:
result = shuffle(example)

In [6]:
result

In [7]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [8]:
result = shuffle_list(example)

In [10]:
result

[4, 2, 7, 3, 1, 5, 6]

In [11]:
mylist = ['','O','']

In [12]:
shuffle_list(mylist)

['', '', 'O']

In [13]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
          guess = input("Pick a anumber: 0,1 or 2")
            
    return int(guess)

In [14]:
player_guess()

Pick a anumber: 0,1 or 22

2

In [15]:
myindex = player_guess()

Pick a anumber: 0,1 or 22

In [16]:
myindex

2

In [17]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [22]:
# INITIAL LIST
mylist = ['','O','']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

Pick a anumber: 0,1 or 21
Wrong guess!
['', '', 'O']

In [26]:
def myfunc(a,b,c = 0,d = 0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d)) * 0.05

In [27]:
myfunc(40,60,100,100)

15.0

In [28]:
def myfunc(*args):
    return sum(args) * 0.05

In [33]:
myfunc(40,60,100,1,34)

11.75

In [34]:
def myfunc(*args):
    for item in args:
        print(item)

In [35]:
myfunc(40,60,100,1,34)

40
60
100
1
34

In [39]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [40]:
myfunc(fruit='apple', veggie = 'Lettuce')

{'fruit': 'apple', 'veggie': 'Lettuce'}
My fruit of choice is apple

In [43]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('i would like {} {}'.format(args[0],kwargs['food']))

In [44]:
myfunc(10,20,30,fruit = 'orange',food = 'eggs',animal = 'dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
i would like 10 eggs

In [56]:
def animal_crackers(text):
    wordlist = text.lower().split()
    
    return wordlist[0][0] == wordlist[1][0]

In [57]:
animal_crackers('Levelheaded Llama')

True

In [60]:
animal_crackers('Crazy Kangaroo')

False

In [53]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [54]:
lesser_of_two_evens(2,4)

2

In [55]:
lesser_of_two_evens(7,5)

7

In [61]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [62]:
makes_twenty(20,10)

True

In [63]:
makes_twenty(2,3)

False

In [66]:
def makes_twenty(n1,n2):
    
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [68]:
makes_twenty(20,10)

True

In [69]:
makes_twenty(2,3)

False

In [70]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [73]:
old_macdonald('macdonald')

'MacDonald'

In [74]:
def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [75]:
old_macdonald('macdonald')

'MacDonald'

In [81]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [82]:
master_yoda('I am home')

'home am I'

In [83]:
master_yoda('We are ready')

'ready are We'

In [84]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [85]:
almost_there(104)

True

In [86]:
almost_there(150)

False

In [87]:
almost_there(209)

True

In [88]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [89]:
has_33([1, 3, 3])

True

In [90]:
has_33([1, 3, 1, 3])

False

In [91]:
has_33([3, 1, 3])

False

In [92]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [93]:
paper_doll('Hello')

'HHHeeellllllooo'

In [94]:
paper_doll('Mississipi')

'MMMiiissssssiiissssssiiipppiii'

In [95]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c]) - 10
    else:
        return 'Bust'

In [96]:
blackjack(5,6,7)

18

In [97]:
blackjack(9,9,9)

'Bust'

In [98]:
blackjack(9,9,11)

19

In [99]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [100]:
summer_69([1, 3, 5])

9

In [101]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [102]:
summer_69([2, 1, 6, 9, 11])

14

In [1]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,7,'x'] pop(0)
    # [7,'x'] pop(0)
    # ['x'] pop(0) length = 1
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [2]:
spy_game([1,2,4,0,0,7,5])

True

In [3]:
spy_game([1,0,2,4,0,5,7])

True

In [4]:
spy_game([1,7,2,0,4,5,0])

False

In [107]:
def count_primes(num):
    
   # Check for 0 or 1 input
    if num < 2:
        return 0
    
   ########################
   # 2 or greater
   ########################

   # Store our prime numbers
    primes = [2]
    
   # Counter going up to the input num
    x = 3
   
   # x is going through every number up to the input num
    while x <= num:
        # Check if x is prime
        for y in range(3,x,2):
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [108]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [109]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [110]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [111]:
def spuare(num):
    return num ** 2

In [112]:
my_nums = [1,2,3,4,5]

In [114]:
for item in map(spuare,my_nums):
    print(item)

1
4
9
16
25

In [115]:
list(map(spuare,my_nums))

[1, 4, 9, 16, 25]

In [116]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [117]:
names = ['Andy','Eve','Sally']

In [118]:
list(map(splicer,names))

['Even', 'E', 'S']

In [119]:
def check_even(num):
    return num % 2 == 0

In [120]:
mynums = [1,2,3,4,5,6]

In [122]:
list(filter(check_even,mynums))

[2, 4, 6]

In [123]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [124]:
def square(num):
    result = num ** 2
    return result

In [125]:
square(3)

9

In [130]:
square = lambda num: num ** 2

In [132]:
square(5)

25

In [133]:
list(map(lambda num: num ** 2,mynums))

[1, 4, 9, 16, 25, 36]

In [134]:
list(filter(lambda num: num % 2 == 0,mynums))

[2, 4, 6]

In [135]:
names

['Andy', 'Eve', 'Sally']

In [137]:
list(map(lambda name: name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [139]:
x = 25

def printer():
    x = 50
    return x

In [140]:
print(x)

25

In [141]:
print(printer())

50

In [142]:
# lambda num: num ** 2

In [147]:
# Global
name = 'THIS IS A GLOBAL STRING'


def greet():
    
    # Enclosing
    name = 'Sammy'
   
    
    def hello():
        # Local
        name = 'Im A Local'
        print('Hello '+ name)
        
    hello()

In [148]:
greet()

Hello Im A Local

In [155]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # Local Reassignment!
    x = 200
    print(f'I Just Locally Changed X to {x}')

In [166]:
func()

X is 50
I Just Locally Changed Global X to New Value

In [167]:
print(x)

New Value

In [165]:
# Example Not For Beginners
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # Local Reassignment On A Global Variable!
    x = 'New Value'
    print(f'I Just Locally Changed Global X to {x}')

In [177]:
# For Beginners (Much Better Path To Take)
x = 50

def func(x):
    print(f'X is {x}')
    
    # Local Reassignment On A Global Variable!
    x = 'New Value'
    print(f'I Just Locally Changed Global X to {x}')
    return x

In [178]:
print(x)

50

In [179]:
x = func(x)

X is 50
I Just Locally Changed Global X to New Value

In [180]:
x

'New Value'

In [181]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [182]:
vol(2)

33.49333333333333

In [193]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [194]:
ran_bool(3,1,10)

True

In [195]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [196]:
ran_check(5,2,7)

True

In [201]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in the range of {low} and {high}')
    else:
        print('not in range')

In [202]:
ran_check(5,2,7)

5 is in the range of 2 and 7

In [205]:
# Original Version
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f'Original String: {s}')
    print(f'Uppercase count: {uppercase}')
    print(f'Lowercase count: {lowercase}')

In [206]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Uppercase count: 4
Lowercase count: 33

In [210]:
# Dictionary Version (First Preference)
def up_low(s):
    d = {'upper':0,'lower':0}
    
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
        
    print(f'Original String: {s}')
    print(f'Uppercase count: {d["upper"]}')
    print(f'Lowercase count: {d["lower"]}')

In [211]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Uppercase count: 4
Lowercase count: 33

In [212]:
# Original Version
def unique_list(lst):
    return list(set(lst))

In [213]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [214]:
# Logical Version
def unique_list(lst):
    x = []
    for number in lst:
        if number not in x:
            x.append(number)
            
    return x

In [215]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [216]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total * num
    return total

In [217]:
multiply([1,2,3,-4])

-24

In [218]:
def palindrome(s):
    # Remove Space From String
    s = s.replace(' ','')
    
    # Check If String Is == Reversed Version Of The String
    return s == s[::-1]

In [219]:
palindrome('helleh')

True

In [220]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    # Create A Set Of The Alphabet
    alphaset = set(alphabet)
    
    # Remove Any Spaces From The Input String
    str1 = str1.replace(' ','')
    
    # Convert Into All Lowercase
    str1 = str1.lower()
    
    # Grab All Unique Letters From The String: set()
    str1 = set(str1)
    
    # Alphabet Set == String Set From Input
    return str1 == alphaset

In [221]:
ispangram("The quick brown fox jumps over the lazy dog")

True